<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Systemachamado.Properties.Settings.sistematicketConnectionString"
            connectionString="server=SERVIDOR;user id=admin;password=admin;persistsecurityinfo=True;port=3307;database=sistematicket"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>